.signup-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover {
    font-size: 1.2rem;
}

button {
    background-color: transparent;
    border: none;
    color: lightgray;
}

button:hover {
    font-size: 1rem;
}










































